.Button {
    font-size: 0.8rem;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 10px;
    min-width: 75px;
  }
  
  .Button:hover {
    opacity: 0.8;
    border-color: #2E1F1E;
    cursor: pointer;
  }
  
  .Button:hover:active {
    background-color:  #84bd34 !important;
  }
  
  .Button:active {
    background-color:  #84bd34 !important;
  }
  
  .Button:focus {
    background-color:  #84bd34;
  }
  
  .Wide {
    padding: 10px 50px;
    width: 100%;
  }
  
  .Green,
  .GreenOutline:hover,
  .Bright:hover {
    background-color: #84BD34;
    color: #ffffff;
  }
  
  .GreenOutline,
  .Green:hover {
    background-color: #ffffff;
    color: #242a3d;
  }

  /* .Blue,
  .BlueOutline:hover,
  .Bright:hover {
    background-color: #2142b2;
    color: #ffffff;
  }
  
  .BlueOutline,
  .Blue:hover {
    background-color: #ffffff;
    color: #2142b2;
  }
   */
  .Black,
  .BlackOutline:hover {
    background-color: #242a3d;
    color: aliceblue;
  }
  
  .Black:hover,
  .BlackOutline {
    border-color: #242a3d;
    background-color: aliceblue;
    color: #242a3d;
  }
  
  .Bright {
    background-color: #242a3d;
    color: aliceblue;
  }