.NavBar {
    background-color: #E6DEB9;
    border: 1px solid #907A48;
}
.NavLink {
    padding: 5px;
    color: #2E1F1E;
  }

  .NavLink:hover {
   color: #84BD34;
}
  .Active i {
    color: #84BD34;
  }

