.NavBar {
    background-color: #E6DEB9;
    border: 1px solid #907A48;
}
.NavLink {
    padding: 5px;
    color: #2E1F1E;
  }

  .NavLink:hover {
   color: #84BD34;
}
  .Active i {
    color: #84BD34;
  }

.SiteName {
  font-size: 200%;
  color: #84BD34;
}

@media (max-width: 995px) {
  .SiteName {
    font-size: 160%;
  }
}

@media (max-width: 365px) {
  .SiteName {
    display: none;
  }
}