.Post {
    background-color: #E6DEB9;
    border: 1px solid #907A48;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }
  
  .Heart {
    color: #f85032;
  }
  
  .Heart:hover {
  color: #84BD34;
    ;
  }
  
  .HeartOutline:hover {
    color: #f85032;
  }