.App {
  font-family: Quicksand, sans-serif;
  font-weight: bold;
  background-color: #d4c89a;
  min-height: 100vh;
}
.Main {
  padding-top: 100px;
}
.Content {
  background-color: #E6DEB9;
  padding: 10 px;
  border-radius: 2px;
  border: 1px solid #907a48;
}

.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

.Hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: #555555;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
}

a:hover i {
  color: #84bd34;
  transition: color ease-in-out 0.3s;
}

i {
  color: #2e1f1e;
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #685375;
}
figure {
  text-align: center;
  display: inline-block;
}


/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: #888;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
